@media (max-width: 700px){

body{
    background-color: #FFFFFF;
}

.fundo_body2{
    background-color: #E7E7E7;

}

.mainpage{
    width: 100%;
    position: relative;
}

.tela_entrada{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela_entrada img{
    width: 130px;
    height: 92px;
    margin-top: 72px;

}

.tela_entrada input{
    width: 261px;
    height: 54px;
    border-radius: 4px;
    margin-top: 94px;
    border: 1px solid #D7D7D7;
}

.tela_entrada input::placeholder{
    font-size: 18px;
    line-height: 25px;
    color: #AEAEAE;
    text-align: center;

}

.tela_entrada button{
    width: 109px;
    height: 45px;
    margin-top: 15px;
    border-radius: 9px;
    background-color: #E7E7E7;
    color: #696969;
    font-size: 18px;
    line-height: 25px;
    border: 0;
}




header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;

}

header img{
    width: 75px;
    height: 53px;
    margin-left: 22px;

}

header ion-icon{
    width: 45px;
    height: 45px;
    margin-right: 22px;
}

footer{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

footer input{
    width: 100%;
    height: 30px;
    margin-left: 15px;
    margin-right: 8px;
    font-size: 18px;
    font-style: italic;
    line-height: 21.09px;
    border: 0;

}

footer input::placeholder{
    color: black;
}

footer button{
    width: 70px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: #FFFFFF;
    
}

footer ion-icon{
    width: 30px;
    height: 30px;
    

}

.hidden{
    display: none;
}

.chat{
    width: 100%;
    margin-top: 80px;   
}

.conversas{
    height: 77vh;
    width: 100%;
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    background-color: #E7E7E7;
   
}



.conversas .messagem{
    min-height: 40px;
    height: auto;
    background-color: aqua;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 16.41px;
    text-align: justify;
    justify-items: center;
    border-radius: 7px;
    padding: 10px;
    

  
}

.conversas .sstatus{
    background-color: #DCDCDC;
}

.conversas .message{
    background-color: #FFFFFF;
}

.hour{
    color: #AAAAAA;
}

.usarname{
    color: #000000;
    font-weight: 700;
    font-size: 14px;
}






}
    